body{
    background: url('../assets/body.jpg');
}

.nav_buffer_top{
    width: 100vw;
    height: 35px;
}

.nav_top{
    position: absolute;
    width: 100vw;
    height: 55px;
    background-color: #85e0e0;

}
.hamburger{
    padding: 9px 16px;
    color:#19334d; 
}
.nav_side{
    position: absolute;
    top: 55px;
    width: 200px; 
    height: 100vh;
    background-color: #9fbfdf; 

}

.nav_side>ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: inherit;
    background: #9fbfdf;
}
.nav_side>ul>li>a{
    display: block;
    padding: 8px 16px;
    color: #19334d;
    text-decoration: none;
}
.nav_side>ul>li>a:hover{
    background-color: #837E85;
    color: #EBEBF7;
}

.content_container{
    margin-left: 200px;
}

.bs-callout {
	padding: 20px;
	margin: 20px 0;
	border: 1px solid #eee;
	border-left-width: 5px;
	border-radius: 3px;
}

.bs-callout-warning {
	border-left-color: #D76884;
    background-color: #F9F2F4;
}

.term {
    margin-top: 60px;
    /*margin-left: 10%;*/
    width:100%;
    height: 20vh;
}